html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #4fd3ff;
  margin: 0;
}

h1 {
  padding-left: 1.5rem;
  font-size: 5rem;
  font-family: 'Abril Fatface', serif;
}

hr {
  width: clamp(15rem, 25%, 35rem);
  margin-left: 2%;
  border-color: #000;
}

button, #iconTray {
  background-color: #f3efea;
}

button {
  max-width: fit-content;
  max-height: 5rem;
  padding: 0;
  border: 0;
}

button > img {
  width: 5rem;
  height: 5rem;
}

#iconTray {
  width: fit-content;
  max-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-left: 2%;
}

#iconTray>button:last-child {
  padding-right: 2%;
}

.innerBtn {
  display: none;
}

button:hover {
  background-color: #EAE4DB;
  cursor: pointer;
}

.card {
  width: 85%;
  background-color: #ADD8E6;
  margin: 2%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.formH2 {
  font-size: 4rem;
  font-family: 'Neuton', serif;
  margin: 0;
}

label {
  display: block;
  font-size: 2.5rem;
  font-family: 'Rufina', serif;
  margin-bottom: .9rem;
}

input {
  width: clamp(30%, fit-content, 70%); /* Not working as expected. */
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 2rem .6rem 0;
}

/* :valid is a psuedo-class used */
input[class="formValidate"]:valid {
  outline: .2rem solid #34b233;
}

input[class="formValidate"]:valid + span::after {
  content: "✓";
  color: #34b233;
  font-size: 3rem;
}

input[class="formValidate"]:user-invalid {
  outline: .2rem solid #FF6347;
}

input[class="formValidate"]:user-invalid + span::after {
  content: "✖";
  color: #FF6347;
  font-size: 3rem;
}
/* End of form validation */
.dropDownInput {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.dropDownResevoir {
  background-color: #fff;
  flex: 1 1 auto;

  overflow: hidden;
}

.choicesMenu {
  width: 30rem;
  height: 10rem;
  margin: 1rem 0;
  background-color: #fff;
  overflow-y: scroll;
}

fieldset {
  margin: 2rem 0;
}

legend {
  font-size: 1.8rem;
}

.radioInpLab {
  display: inline-block;
  margin-right: .8rem;
}

input[type="radio"] {
  margin-left: 5.65rem;
}

.submitBtn {
  font-size: 2.5rem;
  padding: 0 1rem;
  font-family: 'Rufina', serif;
  color: #fff;
  background-color: #34b233;
  width: 30%;
  height: 5rem;
  border-radius: .5rem;
}

.submitBtn:hover {
  background-color: #49f249;
}

@media (min-width: 900px) {
  .card {
    width: 38%;
  }
}
